<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>FrAgile {{#if title}} - {{title}}  {{/if}}| FrAgile</title>
        <link rel='stylesheet' href="/stylesheets/bootstrap.min" type='text/css'/>
        <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
        <script type='text/javascript' src='/js/jquery.js'></script>
    </head>
    <body class="custom-font-enabled">
        <div id="page" class="hfeed site">
            
            {{#if firstName}}
            <div id="greeting" style="float:right">
              <strong>Hi, {{firstName}}!</strong>
              <a href="/users/logout">Log out</a>
            </div>
            {{/if}} 
            
            
	        <div id="main" class="wrapper">
								
    			<div class="panel-grid-cell" id="pgc-218-0-1">									
    				<div id="page-content" class="panel widget panel-first-child panel-last-child">
    					<!-- BEGIN page-specific content -->
    					{{{body}}}
    					<!-- END page-specific content -->
    				</div>									
    			</div>
            </div>
	        <footer id="colophon" role="contentinfo">
		        <div class="site-info">
			        <a href="" >Fragile is an Agile Management tool</a>
		        </div>
	        </footer>
        </div>        
    </body>
</html>